<%- include('./includes/header.ejs') %>
    <%- include('./includes/navbar.ejs') %>

    <header class="header">
      <h1 class="title"><img src="/Przechwytywanie.png" /></h1>
    </header>
    <section class="main-content container">
      <div class="row">
        <% if (posts.length > 0) { %>
          <% posts.forEach(post => { %>

          <div class="card">
              <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text">
                  <%= post.description %>
              </p>
              <p class="card-text">
                  <%= post.author.toString() %>
              </p>
              <a href="subpage.html" class="btn btn-primary"><%= post.date %>}</a>

              </div>
          </div>
          <% }) %>

      <% } else { %>
          <h1>No Posts</h1>
      <% } %>
      </div>
    </section>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
